<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eahm.drinkwaterapp">

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Used for notification vibration -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Retreive information from server, etc... -->
    <!-- Required by FABRIC -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- To check if we have internet or not -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- To restart the alarms when  the phone is restarted... -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- To select a profile image -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  <!-- To save profile pic -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />  <!-- Para mostrar ventana flotante cuando logres tu meta! -->

    <application
        android:name=".ThisApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fitsSystemWindows="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_app_3_round"
        android:roundIcon="@mipmap/ic_app_3_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:allowBackup"
        android:screenOrientation="portrait"
        >

        <!-- META DATA -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4f7a6c67a66c20413e326e04c2975cf223de9dfa" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- ACTIVITIES -->
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".LoginActivity" />-->
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".WaterDrinkActivity"
            android:theme="@style/WaterDrinkTheme" />

         <!-- RECEIVERS -->

        <receiver
            android:name=".BroadcastReceiver.AlarmReceiver"
            tools:ignore="InnerclassSeparator" />
        <receiver
            android:name=".BroadcastReceiver.AndroidActionsReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SERVICES -->
        <service
            android:name=".Services.FloatWidgetService"
            android:enabled="true"
            android:exported="false"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".BroadcastReceiver.NotificationJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:ignore="InnerclassSeparator" />

        <service
            android:name=".BroadcastReceiver.FirebaseMessagingService"
            android:exported="false"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>